p{
    color: blue;
    line-height: 30px;/*alto de linea*/
}

h2{
    text-align: center;/*alineacion*/
    background-color: yellow;/*fondo de color solido*/
    text-transform: uppercase;/*mayuscula*/
}