p{
    color: blue;
    line-height: 30px;/*alto de linea*/
}

h2{
    text-align: center;/*alineacion*/
    background-color: yellow;/*fondo de color solido*/
    text-transform: uppercase;/*mayuscula*/
}
.destacados{
    color: green;
    font-family: 22px;/*tamaño de la fuente*/
    font-weight: bold;/*negrita*/
}
#caja{
    width: 300px;
    background-color:rgb(204, 200, 200) ;
    padding: 20px;/*relleno borde hacia adentro*/
    box-sizing: border-box;
    margin-left: 150px;
    border: 2px solid black;
    cursor: pointer;
}
#caja:hover{
    background-color: orange;
}